body {
  background-image: url("image/background.jpg");
  font-family: 'Sigmar One', cursive;
}

h1 {
  text-align: center;
  margin-bottom: 2%;
}
/***********************
       Picking Page
************************/

div.panel-body img {
  padding: 2px;
}


div.panel-body li {
  height: 10%;
  width: 10%;
  margin-right: 5%;
  margin-bottom: 4%;
  padding: 3px;
}

div.panel-body li p {
  display: inline block;
  margin: 1px auto;
}

div.panel-body div {
  margin-left: 5%;
}

div.panel-body button {
  margin-right: 1%;
}

.clicked {
  box-shadow:0px 0px 2px 2px lightblue inset;
  border-radius: 20px;
  padding: 2px;
}

li {
  display: inline;
}



/***************************
           Battle Page
****************************/
section#battle {
  display: inline block;
}

.progress {
  width: 80%;
  margin: 2px auto;
}

.col-md-6 {
  /*border: 1px solid grey;*/
  width: 45%;
  margin: 2%;
}

.col-md-6#player2 {
  float: right;
}

div.progress-bar {
  margin-bottom: 50px;
}

div..imgInBattle {
  margin-top: 20%;
}

.imgInBattle img {
  margin-top: 20px;
  display: block;
  margin: 5px auto;
}

button#attack {
  display: block;
  margin: 50px auto;
}

h3.player-title {
  text-align: center;
  font-weight: bold;
}

div.health {
  margin-left: 10%;
}

.alert-danger{
  font-size: 0.9em;
  padding: 0.3em;
}

.glyphicon-ok {
  color: green;
}


/*********Player Info*********/
div.playerIntro {
  margin-left: 10%;
  margin-top: 5px;
  margin-bottom: 30px;
  border: dashed 2px lightgreen;
  border-radius: 10px;
  padding: 3px 10px;
}

img#Player1WeaponImg {
  width: 13%;
  height: 13%;
}

img#Player1ModificationImg {
  width: 13%;
  height: 13%;
}

img#Player2WeaponImg {
  width: 13%;
  height: 13%;
}

img#Player2ModificationImg {
  width: 13%;
  height: 13%;
}

/***********Modal Window*******/
.modal-content {
  background-color: lightblue;
}

.modal-body p{
  text-align: center;
  font-size: 2em;
}



